<configuration>
  <!-- 콘솔 어펜더 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- 파일 어펜더 설정 -->
  <property name="NAME" value="jboard"/>
  <property name="PATH" value="/logs/"/>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${PATH}/${NAME}.log</file>
   	<appender>true</appender>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>